h1, h2, h3, h5, h6{
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
.header {
  background-image: url("../img/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
.header.info1 {
  background-image: url("../img/info1.jpeg");
  height: 500px;
}
.header.info2 {
  background-image: url("../img/info2.jpeg");
  height: 500px;
}
.header h1 {
  color: white;
  margin: 10px;
}
.header i {
  color: white;
  margin: 10px;
}
.header p {
  color: white;
  max-width: 600px;
  margin:0 auto;
}
.logo {
  margin-top: 40px;
  margin-bottom: 20px;
}
.info-image {
  padding: 0px;
}
.info-text {
  margin-bottom: 4.5rem;
  margin-top: 1.5rem;
}
.stretch {
  width: 100%;
}
.footer {
  position: absolute;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}

.table {
  font-size: 12px;
  border: 1px solid #CCC; 
} 
.table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #CCC;
}
.table th {
  background-color: rgb(32, 35, 37); 
  color: #FFF;
  font-weight: bold;
}
.green {
  background: green;
}